@font-face {
    font-family: 'Haas';
    src: url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Regular.eot');
    src: url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Regular.eot?#iefix') format('embedded-opentype'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Regular.woff2') format('woff2'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Regular.woff') format('woff'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Haas';
    src: url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Light.eot');
    src: url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Light.eot?#iefix') format('embedded-opentype'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Light.woff2') format('woff2'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Light.woff') format('woff'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Haas';
    src: url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Medium.eot');
    src: url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Medium.eot?#iefix') format('embedded-opentype'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Medium.woff2') format('woff2'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Medium.woff') format('woff'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Haas';
    src: url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Bold.eot');
    src: url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Bold.eot?#iefix') format('embedded-opentype'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Bold.woff2') format('woff2'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Bold.woff') format('woff'),
    url('../dist/fonts/NeueHaasUnica/NeueHaasUnica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}