.section_3{
  padding: 60px 0;
  .portfolios{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -28px;
    .portfolio{
      width: calc(50% - 56px);
      padding: 24px;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px rgb(154 173 179 / 32%);
      box-sizing: border-box;
      white-space: initial;
      justify-content: space-between;
      margin: 0 28px 28px;

      .desc_portfolio{
        font-size: 18px;

      }

      &:hover{
        box-shadow: 0px -2px 6px rgb(116 123 150 / 16%), 0px 6px 16px rgb(160 167 193 / 50%);
      }
    }
    .top_portfolio{
      margin-bottom: 24px;
      img{
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        image-rendering: pixelated;
      }
    }
  }
}